<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./imagens/LogoLoja.jpg">
    <title>Plante Tech</title>
</head>

<body>

    <header>
        <div class="fundo">
            <div class="logo">
                <a href="/index">
                    <img src="./imagens/LogoLoja.jpg">
                </a>
            </div><!--logo-->

            <div class="cabecalho-link">
                <nav>
                    <a href="/quem-somos">QUEM SOMOS</a>
                    <a href="/solucoes">SOLUÇÕES</a>
                    <a href="/ofertas">OFERTAS</a>
                    <a href="/contato">CONTATO</a>
                    <a href ="/login" icone><span><ion-icon name="cart-outline"></ion-icon></span></a>
                </nav>

            </div><!--cabecalho-->
        </div><!-- fundo-->
    </header>

    <body>
    <div class="containerForm">

    <div class="imagemCadastro">
        <img class="capaCadastro"src="/imagens/capaCadastro.jpg">
    </div>

    <div class="formCadastro">
        <form action="" method="post">
            <div class="dadosCadastro">
                <h1>Faça seu cadastro aqui</h1>
                <br>
                <br>
                <input type="text" placeholder="Nome">
                <br>
                <input type="text" placeholder="Sobrenome">
                <br>
                <input type="text" placeholder="E-mail">
                <br>
                <input type="password" required placeholder="Senha">
                <br>
                <br>
                <a>Ao fazer o cadastro declaro estar ciente da politica de privacidade deste site</a>
                <br>
                <br>
                <button type="submit">Enviar</button>
            </div>

        </form>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>

</body>

</html>