<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./imagens/LogoLoja.jpg">
    <title>Plante Tech</title>
</head>

<body>

    <header>
        <div class="fundo">
            <div class="logo">
                <a>
                    <img src="./imagens/LogoLoja.jpg">
                </a>
            </div><!--logo-->

            <div class="cabecalho-link">
                <nav>
                    <a href="/quem-somos">QUEM SOMOS</a>
                    <a href="/solucoes">SOLUÇÕES</a>
                    <a href="/ofertas">OFERTAS</a>
                    <a href="/contato">CONTATO</a>
                    <a href ="/login" icone><span><ion-icon name="cart-outline"></ion-icon></span></a>
                </nav>

            </div><!--cabecalho-->
        </div><!-- fundo-->
    </header>
    <div class="meio">
        <h1>CAMPEÕES DE PRODUTIVIDADE</h1>
        <h1>HIBRIDOS DE MILHO</h1>
        <P>Uma seleção especial do melhor em tecnologia</P>
        <button>SAIBA MAIS</button>
    </div><!--meio-->

    </div><!--fundo-->

    <section>
        <h1>AS MELHORES SEMENTES</h1>
        <div class="conteiner-car-1">
            <div class="cards">
                <img src="./imagens/mavuno.jpg">
            </div><!--cards-->

            <div class="cards">
                <img src="./imagens/morgan.jpg">
            </div><!--cards-->

            <div class="cards">
                <img src="./imagens/brevant.jpg">
            </div><!--cards-->

            <div class="cards">
                <img src="./imagens/pioneer.jpg">
            </div><!--cards-->

            <div class="cards">
                <img src="./imagens/agroceres.jpg">
            </div><!--cards-->

            <div class="cards">
                <img src="./imagens/barenbrug.jpg">
            </div><!--cards-->

            <div class="cards">
                <img src="./imagens/priorizi.jpg">
            </div><!--cards-->

            <div class="cards">
                <img src="./imagens/biomatrix.jpg">
            </div><!--cards-->

        </div><!--conteiner-card-1-->
    </section>

    <section class="cta">
        <div class="texto-cta">
            <h6>DESTAQUE DA SAFRA</h6>
            <h4>Hibridos KWS<br>Eficiente e Rentável</h4>
            <a href="#" class="btn">COMPRAR</a>
        </div><!--texto-cta-->
    </section><!--cta-->

    <section>
        <h1>EM ESTOQUE</h1>
        <div class="container-kws">
            <div class="kws">
                <img src="./imagens/K7500VIP3.png">
                <p>Hibrido K7500 VIP3</p>
                <h5>R$ 499,90</h5>
                <ion-icon name="checkmark-outline"></ion-icon>
            </div><!--kws-->

            <div class="kws">
                <img src="./imagens/K7510VIP3.jpg">
                <p>Hibrido K7510 VIP3</p>
                <h5>R$ 549,00</h5>
                <ion-icon name="checkmark-outline"></ion-icon>
            </div><!--kws-->

            <div class="kws">
                <img src="./imagens/K8774PRO3.jpg">
                <p>Hibrido K8774 PRO3</p>
                <h5>R$ 750,00</h5>
                <ion-icon name="checkmark-outline"></ion-icon>
            </div><!--kws-->

            <div class="kws">
                <img src="./imagens/K9555VIP3.jpg">
                <p>Hibrido K9555 VIP3</p>
                <h5>R$ 620,00</h5>
                <ion-icon name="checkmark-outline"></ion-icon>
            </div><!--kws-->
        </div><!--container-kws-->
    </section>

    <div class="marcas">
        <img src="./imagens/logo_agroceres.png">
        <img src="./imagens/logo_barenbrug.jpg">
        <img src="./imagens/logo_brevant.jpg">
        <img src="./imagens/logo_morgan.png">
        <img src="./imagens/logo_wolf.png">
        <img src="./imagens/logo_KWS.png">
    </div><!--marcas-->

    <section class="contato">

        <div class="meio-contato">
            <h3>PLANTE TECH</h3>
            <h5>Quem Somos</h5>
        </div><!--meio-contato-->

        <div class="meio-contato">
            <h3>FAQ</h3>
            <li><a href="#">Perguntas e Respostas</a></li>
            <li><a href="#">Politica de Privacidade</a></li>
        </div><!--meio-contato-->

        <div class="meio-contato">
            <h3>ATENDIMENTO</h3>
            <li><a href="#">Fale Conosco</a></li>
            <li><a href="#">Troca e Devolução</a></li>
            <li><a href="#">Chamados Abertos</a></li>
        </div><!--meio-contato-->


        <div class="meio-contato">
            <h3>MINHA CONTA</h3>
            <li><a href="#">Meus Pedidos</a></li>
            <li><a href="#">Carrinho de Compras</a></li>
            <li><a href="#">Ofertas Exclusivas</a></li>
        </div><!--meio-contato-->

    </section><!--contato-->


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <div class="whats">
        <a href="https://api.whatsapp.com/send?phone=5516981935119&text=Ola%20tenho%20uma%20dúvida" target="_blank">
            <img src="./imagens/whatsapp.png">
        </a>
    </div>


    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>
</html>