<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./imagens/LogoLoja.jpg">
    <title>Plante Tech</title>
</head>

<body>

    <header>
        <div class="fundo">
            <div class="logo">
                <a href="/index">
                    <img src="./imagens/LogoLoja.jpg">
                </a>
            </div>

            <div class="cabecalho-link">
                <nav>
                    <a href="/quem-somos">QUEM SOMOS</a>
                    <a href="/solucoes">SOLUÇÕES</a>
                    <a href="/ofertas">OFERTAS</a>
                    <a href="/contato">CONTATO</a>
                    <a href ="/login" icone><span><ion-icon name="cart-outline"></ion-icon></span></a>
                </nav>

            </div><!--cabecalho-->
        </div><!-- fundo-->
    </header>

    <body>

        <section>
        <h1 class="tituloOfertas">Combos Imperdiveis</h1>
        <div class="containerOfertas">
            <div class="cardsOfertas">
                <img src="./imagens/9021.jpg">
                <p>Cpmpre 10 Leve 12</p>
                <p>Hibrido 9021 PRO3 Agroceres</p>
                <h5>R$ 3290,00</h5>
                <ion-icon name="checkmark-outline"></ion-icon>
            </div><!--kws-->

            <div class="cardsOfertas">
                <img src="./imagens/30A37.jpg">
                <p>5% OFF a vista</p>
                <p>Hibrido 30A37 PW Morgan</p>
                <h5>R$ 549,00</h5>
                <ion-icon name="checkmark-outline"></ion-icon>
            </div><!--kws-->

            <div class="cardsOfertas">
                <img src="./imagens/1820.jpg">
                <p>FRETE GRATIS | 10 sacas</p>
                <p>Hibrido 1920 PRO3 Dekalb</p>
                <h5>R$ 3890,00</h5>
                <ion-icon name="checkmark-outline"></ion-icon>
            </div><!--kws-->

    
            <div class="cardsOfertas">
                <img src="./imagens/36799.png">
                <p>20 sacas com 8% OFF</p>
                <p>Hibrido 36799 VIP3 LG</p>
                <h5>R$ 10450,00</h5>
                <ion-icon name="checkmark-outline"></ion-icon>
            </div><!--kws-->

            <div class="cardsOfertas">
                <img src="./imagens/44.jpg">
                <p>5% OFF acima de 6 sacas</p>
                <p>Hibrido 44 VIP3 Nidera</p>
                <h5>R$ 6200,00</h5>
                <ion-icon name="checkmark-outline"></ion-icon>
            </div><!--kws-->
        </div><!--container-kws-->
    </section>

      
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

</body>
</html>