<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./imagens/LogoLoja.jpg">
    <title>Plante Tech</title>
</head>


<body>

    <header>
        <div class="fundo">
            <div class="logo">
                <a href="/index">
                    <img src="./imagens/LogoLoja.jpg">
                </a>
            </div><!--logo-->

            <div class="cabecalho-link">
                //<nav>
                    <a href="/quem-somos">QUEM SOMOS</a>
                    <a href="/solucoes">SOLUÇÕES</a>
                    <a href="/ofertas">OFERTAS</a>
                    <a href="/contato">CONTATO</a>
                    <a href="/login" icone><span><ion-icon name="cart-outline"></ion-icon></span></a>
                </nav>
            </div><!--cabecalho-->
        </div><!-- fundo-->
    </header>


    <div class="containerProdutos">
                     <div class="selecaoImagem">
                    <img src="./imagens/mavuno.jpg">
                        </div>
                            
            <div class="itensDireita">
            <div class="conteduo">
            <h1>Brachiaria Hibrida Mavuno</h1>
            <p>
                Semente para Pastagem com alta tolerancia a seca.
                Indicado para rebanho de corte e leite.
            </p>
            <spma class="preco">R$600,00</spma>
            <div class="opcoes">
                <div class="quantidade">
                    <div class="menos">
                        <ion-icon name="arrow-down-circle-outline"></ion-icon>
                    </div>
                    <spam>0</spam>

                    <div class="mais">
                        <ion-icon name="arrow-up-circle-outline"></ion-icon>
                    </div>

                </div>
                <a href="" class="comprarProduto"><ion-icon name="checkmark-circle-outline"></ion-icon>COMPRAR AGORA</a>

            </div>
        </div>
    </div>
    </div>


    <div class="descricao">
<h2>Sobre o Produto</h2>
<p>
    Híbrido de alta produção de biomassa com excelente qualidade bromatológica, apresentando elevado nível de digestibilidade, estimulando o consumo. Com alta velocidade de rebrote, amplo sistema radicular conferindo uma ótima tolerância à seca, proporcionando uma maior oferta de massa verde aos animais. Apresenta densa pilosidade em ambas as faces da folha e no caule, criando uma barreira física contra pragas e se destacando pela sua maciez e aceitabilidade.
<br>
    Indicação: 1 saco por hectare. 
    <br>
</p>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    
</body>
</html>