<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./imagens/LogoLoja.jpg">
    <title>Plante Tech</title>
</head>

<body>

    <header>
        <div class="fundo">
            <div class="logo">
                <a href="/index">
                    <img src="./imagens/LogoLoja.jpg">
                </a>
            </div><!--logo-->

            <div class="cabecalho-link">
                <nav>
                    <a href="/quem-somos">QUEM SOMOS</a>
                    <a href="/solucoes">SOLUÇÕES</a>
                    <a href="/ofertas">OFERTAS</a>
                    <a href="/contato">CONTATO</a>
                    <a href ="/login" icone><span><ion-icon name="cart-outline"></ion-icon></span></a>
                </nav>

            </div><!--cabecalho-->
        </div><!-- fundo-->
    </header>

<body>
    
    <div class="textoQuemSomos">
        <br>
        <h1>Orgulho em ter você com a gente!</h1>
        <br>
        <p>Bem-vindo à Plante Tech, uma loja online de sementes de alta tecnologia! 
            Somos uma empresa que tem como objetivo fornecer aos nossos clientes sementes de qualidade premium, com tecnologia avançada e com resultados excepcionais. 
            <br>
            <br>
            Atentos as inovações, nos desafiamos a cada dia para trazer as melhores marcas do mercado com as melhores negociações.  
            
            Nosso compromisso também é com a sustentabilidade, por isso, estamos empenhados em fornecer aos nossos clientes apenas sementes de empresas ambientalmente responsaveis, com alto padrão de qualidade e processos controlados.  
            <br>
            <br>
            Na nossa loja online, oferecemos uma experiência de compra conveniente e segura, atendendo a todo o territorio brasileiro. 
            Com apenas alguns cliques, nossos clientes podem comprar as melhores sementes do mercado e receber diretamente em sua propriedade. 
            
            Além disso, nossos preços são altamente competitivos, garantindo que nossos clientes tenham uma ótima relação custo-benefício, sem sair de casa.
           <br>
           <br>
            Conte com a Plante Tech para alcançar o sucesso em seus projetos e a maxima produtividade. 
        <br>
        <br>
       Siga a Plante Tech nas redes sociais.
        </p>
        
        <br>

        <div class="redesSociais">
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-linkedin"></ion-icon>
    </div>

        
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>
    
</body>
</html>