<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./imagens/LogoLoja.jpg">
    <title>Plante Tech</title>
</head>

<body>

    <header>

        <div class="fundo">
            <div class="logo">
                <a href="/index">
                    <img src="./imagens/LogoLoja.jpg">
                </a>
            </div><!--logo-->

            <div class="cabecalho-link">
                <nav>
                    <a href="/quem-somos">QUEM SOMOS</a>
                    <a href="/solucoes">SOLUÇÕES</a>
                    <a href="/ofertas">OFERTAS</a>
                    <a href="/contato">CONTATO</a>
                    <a href ="/login" icone><span><ion-icon name="cart-outline"></ion-icon></span></a>
                </nav>

            </div><!--cabecalho-->
        </div><!-- fundo-->
    </header>


<body> 

    <div class="pageSolucao">

    <div class="topoSolucoes">
        <h1>O sucesso de qualquer safra, começa na semente!</h1>
    </div>

    <div class="container">
        <img src="https://www.comprerural.com/wp-content/uploads/2022/11/milho-China.jpg">
        <div class="postMilho">
          <p1>Vale a pena invesir em um hibrido de milho precoce?</p1>
          <p> A resposta é sim! Vale a pena se você precisa de uma solução produtiva de curto prazo, com uma colheita mais rapida. 
            Existem vários benefícios associados ao cultivo do milho precoce, ams entre eles sem duvida podemos citar (além do tempo mais rapido de maturação),
            a tolerancia  seca, flexibilidade de plantio, menor aplicação de insumos e otimos indices nutricionais.
            Esta caracteristicas você encontra na semente Hibrida AG 1051 da Agroceres, tambem disponivel <a href="/produtos">aqui</a> para mais informações.</p>. 
        </p>
        </div>
      </div>

      <br>
      <br>

      <div class="container2">
        <img src="https://imagens-cdn.canalrural.com.br/wp-content/uploads/MPasto_gado.jpg">
        <div class="postPasto">
          <p1>eu rebanho tambem nasce de uma semente, confira:</p1>
          <p>A pecuaria como a agricultura, evolui cada vez mais para aumentar a eficiencia no campo.
            Um rebanho rentavel tambem nasce de uma semente você sabia?
           Hoje temos no mercado sementes que trazem mais que alimentação, trazer maios teor nutricional,
            tolerancia a pragas, seca e maior formação de massa que aumenta a taxa de lotação na mesma area.
            Em nossa loja temos a semente hibrida de pastagem <a href="/produtos">Mavuno</a> para mais informações.</p> da Wolf Sementes, que possui em sua genetica
            potencial para atingir ate 22% de proteina e exelente produção de massa tanto para pastejo quanto para silagem. Confira aqui.
        </p>
        </div>
      </div>

      <br>
      <br>
      
      <div class="container3">
        <img src="https://diarural.com.br/wp-content/uploads/2021/10/soja3.jpg">
        <div class="postSoja">
          <p1>Soja, soja e mais soja</p1>
          <p>As oportunidades para o sojicultor seguem em alta, mas como ser produtivo?
            Para não perder nenhuma oportunidade é importante apostar em marcas consolidadas no mercado para não ter
            surpresa e sim grandes oportunidades.
            A Pioneer é lider em suporte aos seus clientes, sendo reconhecida pelo alto nivel de suporte aos agricultores que necessitam
            de acompanhamento em momentos impotantes da lavoura. Tudo isso atraves de sua central Fala Agro, de forma humanizada
            e pratica. Aqui você encontra a semente hibrida de soja P98Y11 da Pioneer, com maturação precoce e 
            resistente a ferrugem asiatica, confira mais informações <a href="/produtos">clicando aqui</a> para mais informações.</p>
        </div>
      </div>

                    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                    <script nomodule src="https://unpkg .com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
                    
                        <div vw class="enabled">
                            <div vw-access-button class="active"></div>
                            <div vw-plugin-wrapper>
                                <div class="vw-plugin-top-wrapper"></div>
                            </div>
                        </div>
                        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
                        <script>
                            new window.VLibras.Widget('https://vlibras.gov.br/app');
                        </script>
                    
</body>
</html>

